*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*:focus{
    outline: none;

}

body{
    position: relative;
    background: #f7f7f7;
    font-family: 'roboto', sans-sarif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display:flex;
    align-items: center;
    padding: 0 2.5vw;
}

.toogle-btn{
    width: 20px;
    height: 10px;
    position: relative;
    cursor:pointer;
    background: #000;
}

.toogle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background:  #979797;

}

.toogle-btn span:nth-child(1){
    top: 0;

}

.toogle-btn span:nth-child(3){
    top: 100%;

    
}

